* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* ヘッダー */
/* スマホ用ヘッダー */
@media screen and (min-width:300px) {
aside{
    width: 100%;
    height: 100vh;
    background-image: url("../images/first-back-s.png");
    position: absolute;
    top: -100vh;
    transition: top 0.3s 0s ease-in-out;
    z-index: 2;
}

aside.is-open{
    top: 0;
}

.aside-sp>nav{
    margin-top: 15vh;
    background-color: #FFFFFF;
}
.aside-sp-nav-item{
    width: 100%;
    height: 10vh;
}
.aside-sp-nav-item>a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 36px;
    color: #4F2111;
    text-align: center;
}
.header-nav {
  display: none;
}
.header-sp{
  width: 20%;
  height: 10vh;
  left: 80%;
  position: absolute;
  z-index: 5;
  background-color: #fafa02;
}
.header-sp>div{
  height: 1px;
  width: 60px;
  margin: 0 auto;
  background-color: #4F2111;
  transition: all ease-in-out 0.3s;
}
.header-sp-upper{
  position: relative;
  top: -20%;
}
.header-sp-bottom{
  position: relative;
  top: 20%;
}
.header-sp-upper.is-open{
  transform: rotate(45deg);
  top: 0;
}
.header-sp-middle.is-open{
  display: none;
}
.header-sp-bottom.is-open{
  transform: rotate(-45deg);
  top: 0;
}
}
  
/* PC用ヘッダー */
@media screen and (min-width:1024px) {
.aside-sp {
  display: none
}

  .header-nav {
    background-color: #589D79;
    position: fixed;
    height: 10vh;
    width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav {
    margin-right: 5%;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  .header-sp {
    display: none;
  }
}
  
h1 {
  font-size: 60px;
  color: rgb(0, 0, 0);
}

h2 {
  font-size: 3.5vw;
  color: rgb(0, 0, 0);
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 15px;
}

/* スマホ用 */
@media screen and (min-width:300px) {
  #first-block {
    background-image: url("../images/first-back-s.png");
    background-size: cover;
    width: 100%;
    height: 80vh;
    padding-top: 10%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-container {
    text-align: center;
    width: 90vw;
    height: 70vh;
  }
}
 /* PC用 */
@media screen and (min-width:1024px) {
  #first-block {
    background-image: url("../images/first-back-pc.png");
    background-size: cover;
    width: 100%;
    height: 80vh;
    padding-top: 10%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-container {
    text-align: center;
    width: 90vw;
    height: 70vh;
  }
}

  /* スマホ用 */
@media screen and (min-width:300px) {
  #second-block {
    background-color: #589D79;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .movie-container {
    align-items: center;
    width: 85%;
    background: #EFE4B8;
    border: 5px solid #9C3F3F;
  }
  
  .YouTube-image{
    width: 55%;
  }

  .info-text {
    font-size: 3vw;
    padding: 2vh 12%;
    color: rgb(0, 0, 0);
    text-align: center;
  }
}
  /* PC用 */
@media screen and (min-width:1024px) {
  #second-block {
    background-color: #589D79;
    text-align: center;
    padding-top: 12vh;
    padding-bottom: 7vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .movie-container {
    align-items: center;
    width: 85%;
    background: #EFE4B8;
    border: 5px solid #9C3F3F;
  }
  
  .YouTube-image{
    width: 55%;
  }
  
  .info-text {
    font-size: 3vw;
    padding: 2vh 12%;
    color: rgb(0, 0, 0);
    text-align: center;
  }
}
  
  /* スマホ用 */
@media screen and (min-width:300px) {
  #third-block {
    background-color: #589D79;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .build-container {
    align-items: center;
    padding-bottom: 3vh; 
    width: 85%;
    background: #EFE4B8;
    border: 5px solid #9C3F3F;
  }

  .build-container>p {
    margin-top: 3vh;
  }
  
  .button {
    color: #000;
    background-color: #FFFFFF;
    padding: 1vh;
    border: solid #000;
    border-radius: 100vh;
  }
}
  /* PC用 */
@media screen and (min-width:1024px) {
  #third-block {
    background-color: #589D79;
    text-align: center;
    padding-top: 12vh;
    padding-bottom: 7vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .build-container {
    align-items: center;
    padding-bottom: 3vh; 
    width: 85%;
    background: #EFE4B8;
    border: 5px solid #9C3F3F;
  }

  .build-container>p {
    margin-top: 3vh;
  }
  
  .button {
    color: #000;
    background-color: #FFFFFF;
    padding: 1vh;
    margin-bottom: 5%;
    border: solid #000;
    border-radius: 100vh;
  }
}
  /* スマホ用 */
@media screen and (min-width:300px) {
  #fourth-block {
    text-align: center;
    background-color: #589D79;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .shop-info {
    background-color: #FFFFFF;
    width: 90%;
    margin: 5%;
  }

  .accbox {
    padding: 0;
    width: 100%;
}
  .accbox label {
    display: block;
    margin: 1vh 3vh;
    padding : 11px 12px;
    color :#000000;
    border: 2px solid #000000;
    font-weight: bold;
    background :#ffffff;
    cursor :pointer;
    transition: all 0.5s;
  }

  .accbox input {
    display: none;
  }

  .accbox .card-firstline-s {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
  }

  .cssacc:checked + .card-firstline-s {
    height: auto;
    background: #ffffff;
    opacity: 1;
  }

  .accbox .craft-index {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
  }

  .cssacc:checked + .craft-index {
    height: auto;
    background: #ffffff;
    opacity: 1;
  }
  .card-firstline-s {
    background-color: #FFFFFF;
  }
  
  .shop-card {
    width: 100%;
    background-color: #EFE4B8;
  }

  .card-img {
    width: 90%;
  }

  .card-text {
    margin-bottom: 5vh;
  }

  .craft-index {
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .craft-card {
    margin: 0;
  }

  .craft-info {
    margin: 0;
  }

  .craft-title {
    font-size: 25px;
  }
}
  
  /* PC用 */
@media screen and (min-width:1024px) {
  #fourth-block {
    text-align: center;
    background-color: #589D79;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .shop-info {
    background-color: #FFFFFF;
    width: 90%;
    margin: 5%;
  }

  .card-firstline-pc {
    display: flex;
  }
  
  .shop-card {
    margin: 2%;
    width: 90%;
    background-color: #EFE4B8;
  }

  .card-img {
    width: 90%;
  }

  .card-text {
    margin-bottom: 5vh;
  }

  .card-address {
    margin-bottom: 5vh;
  }

  .craft-index {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .craft-card {
    display: flex;
    margin-left: 30px;
  }

  .craft-info {
    margin-left: 30px;
  }

  .craft-title {
    font-size: 25px;
  }
}
  /* スマホ用 */
@media screen and (min-width:300px) {
  #fifth-block {
    background-color: #589D79;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-container {
    background-color: #EFE4B8;
    border: 5px solid #9C3F3F;
    width: 70%;
    padding: 20px;
    align-items: center;
  }

  .map-container>h4 {
    font-size: 20px;
    text-align: center;
  }

  .map-container-main {
    margin: 0%;
    text-align: center;
    }

  .map-container-main>p{
    margin: 0%;
  }
  .map-container-main>img {
    text-align: center;
    }

  .note-container{
    background:#EFE4B8;
    border: 5px solid #9C3F3F;
    padding: 20px;
    width: 70%;
    align-items: center;
  }

  .note-container>h4 {
    font-size: 20px;
  }
}
  /* PC用 */
@media screen and (min-width:1024px) {
  #fifth-block {
    background-color: #589D79;
    width: 100%;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-container {
    background-color: #EFE4B8;
    border: 5px solid #9C3F3F;
    width: 70%;
    margin: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-container>h4 {
    font-size: 20px;
  }

  .map-container-main {
    display: flex;
    }

  .map-container-main>p{
    margin-right: 40px;
  }

  .note-container{
    background:#EFE4B8;
    border: 5px solid #9C3F3F;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .note-container>h4 {
    font-size: 20px;
  }
}

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 50px;
    background-color: #000;
    font-size: 15px;
    color: #fff;
  }