* {
    margin: 0;
    padding: 0;
}
/* ヘッダー */
/* スマホ用ヘッダー */
@media screen and (min-width:300px) {
  aside{
    width: 100%;
    height: 100vh;
    background-color: #fafa02cc;
    position: absolute;
    top: -100vh;
    transition: top 0.3s 0s ease-in-out;
    z-index: 2;
}

　aside.is-open{
    top: 0;
}

.aside-sp>nav{
    margin-top: 15vh;
}
.aside-sp-nav-item{
    width: 100%;
    height: 10vh;
}
.aside-sp-nav-item>a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 36px;
    color: #4F2111;
    text-align: center;
}
.header-nav {
  display: none;
}
.header-sp{
  width: 20%;
  height: 10vh;
  left: 80%;
  position: absolute;
  z-index: 5;
  background-color: #fafa02;
}
.header-sp>div{
  height: 1px;
  width: 60px;
  margin: 0 auto;
  background-color: #4F2111;
  transition: all ease-in-out 0.3s;
}
.header-sp-upper{
  position: relative;
  top: -20%;
}
.header-sp-bottom{
  position: relative;
  top: 20%;
}
.header-sp-upper.is-open{
  transform: rotate(45deg);
  top: 0;
}
.header-sp-middle.is-open{
  display: none;
}
.header-sp-bottom.is-open{
  transform: rotate(-45deg);
  top: 0;
}
}

  
/* PC版ヘッダー */
@media screen and (min-width:1024px) {
　.aside-sp {
  display: none
}

  .header-nav {
    background-color: #589D79;
    position: fixed;
    height: 10vh;
    width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav {
    margin-right: 5%;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  .header-sp {
    display: none;
  }
}
  
/* スマホ用 */
  #first-block {
    background-image: url("../images/first-back.png");
    background-size: cover;
    width: 100%;
    height: 80vh;
    padding-top: 10%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-container {
    text-align: center;
    width: 90vw;
    height: 70vh;
  }
  
  h1 {
    font-size: 60px;
    font-family: serif;
    color: #444;
  }
  
  h2 {
    font-size: 30px;
    font-family: serif;
    color: #444;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 25px;
  }
  
  h6 {
    font-size: 15px;
  }
  
  #second-block {
    background-color: #589D79;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .movie-container {
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    width: 80%;
    background: #EFE4B8;
    border: 5px solid #9C3F3F;
    opacity: 1;
  }
  
  .YouTube-image{
    width: 70vw;
    height: 30vh;
  }

  .info-title {
    font-size: 30px;
    font-family: serif;
    margin-bottom: 3px;
    color: #444;
    text-align: center;
  }
  
  .info-text {
    font-size: 1.3vw;
    margin: 10px, 10px, 10px, 10px;
    color: #444;
    text-align: left;
  }
  
  #third-block {
    background-color: #589D79;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .build-container {
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 80%;
    height: 550px;
    background: #EFE4B8 0% 0% no-repeat padding-box;
    border: 5px solid #9C3F3F;
    opacity: 1;
  }
  
  .build-title {
    font-size: 30px;
    font-family: serif;
    margin-bottom: 3px;
    color: #444;
    text-align: center;
  }
  
  .build-text {
    font-size: 1.3vw;
    margin: 10px, 10px, 10px, 10px;
    color: #444;
    text-align: left;
  } 
  
  #fourth-block {
    text-align: center;
    background-color: #589D79;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .shop-info {
    background-color: #FFFFFF;
    margin: 5%;
  }

  .card-firstline {
    display: flex;
  }
  
  .card-secondline {
    display: flex;
    justify-content: center;
  }

  .shop-card {
    margin: 2%;
    width: 30%;
    background-color: #EFE4B8;
  }

  .card-img {
    width: 90%;
  }

  .card-text {
    margin-bottom: 5vh;
  }

  .card-address {
    margin-bottom: 5vh;
  }

  .craft-index {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .craft-card {
    display: flex;
    margin-left: 30px;
  }

  .craft-info {
    margin-left: 30px;
  }

  .craft-title {
    font-size: 25px;
  }

  #fifth-block {
    background-color: #589D79;
    width: 100%;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-container {
    background-color: #EFE4B8;
    border: 5px solid #9C3F3F;
    opacity: 1;
    width: 70%;
    margin: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-container>h4 {
    font-size: 20px;
  }

  .map-container-main {
    display: flex;
    }

  .map-container-main>p{
    margin-right: 40px;
  }

  .note-container{
    background:#EFE4B8;
    border: 5px solid #9C3F3F;
    opacity: 1;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .note-container>h4 {
    font-size: 20px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 50px;
    background-color: #000;
    font-size: 15px;
    color: #fff;
  }